<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0;">
</head>

<body>
  <header>
    <a href="#" id="logo"></a>
    <nav>
      <a href="#" id="menu-icon"></a>
      <ul class = "navbar">
        <li class="links"><a href="/">Home</a></li>
        <li class="links"><a href="#allaboutme">About</a></li>
        <li class="links"><a href="/posts">Blog</a></li>
        <li class="links"><a href="#contactme">Contact</a></li>
        <!-- <li><a></a></li> -->
      </ul>
  </nav>
  </header>
  <!-- <hr> -->
    <div id="content">

      <%=yield %>

    </div>
  <!-- <hr> -->
</body>
</html>
