body {
  font-family: 'Pacifico', cursive;
  color: black;
  background: radial-gradient(white, 79C7C3);
  padding: 0;
  margin:0;
  size: 100%;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 3em;
  opacity: .8;
  box-shadow: 2px 2px 2px black;
  top: 0;
  left: 0;
  padding-bottom: 20px;
  background: url('../images/ikat.jpg') repeat;
  /*background-size: 30%;*/
  background-size: 30%;



}

a {
  color: black;
	text-decoration: none;
	font-weight: normal;
	transition-duration: 1s;
	-webkit-duration: 1s;
	-moz-duration: 1s;
  width: 10%;
	text-shadow: 2px 2px 2px grey;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.75)), to(rgba(0,0,0,1)));


}

/*blue - 80D1D1*/

a:hover {
  text-shadow: 2px 2px 2px coral;
	transition-duration: 1s;
	-webkit-duration: 1s;
	-moz-duration: 1s;
}
nav {
	text-align: center;
}

.navbar {
  padding-top: 0px;
	list-style: none;
}

.links {

	display: inline-block;
	text-align: center;
	padding: 0 3% 0 3%;
	margin: 0 3% 0 3%;
	font-size: 1.5em;
}

#content {
  padding-top: 10%;
  text-align: center;
}

.title {
  text-shadow: 1px 1px 2px grey;
  text-align: center;
  font-size: 2.9em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));

}

.name {
text-shadow: 1px 1px 2px grey;
  font-size: 3.5em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

.about {
  margin-top: 6%;
  /*border-radius: 25px;*/
	background-color:rgba(255,255,255,0.5);
	/*z-index:20;*/
	/*postition :absolute;*/
	/*box-shadow: 2px 2px 2px black;*/
	/*margin-bottom: 5%;*/
  margin-left: 0;

  width: 100%;
  /*float: left*/
}

.post {
  border-radius: 25px;
  background-color:rgba(255,255,255,0.5);
  /*z-index:20;*/
  /*postition :absolute;*/
  /*box-shadow: 2px 2px 2px black;*/
  /*margin-bottom: 5%;*/
  padding: 2%;
  margin: 2%;
}



/*.blogdate {
  text-shadow: 2px 2px 2px white;

}*/

.circular {
  margin-left: auto;
  margin-right:auto;
	/*width: 300px;
	height: 300px;*/
	border-radius: 11em;
	-webkit-border-radius: 11em;
	-moz-border-radius: 11em;
	/*background: url('../images/me.jpg') repeat;*/
  /*background-size: 100%;*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

  #tagline {
    font-size: 2em;
  }

  #myname {
    margin: 0% 2% 2% 2%;
    font-size: 5em;
    padding-top: 0;
  }

.bloglink {
  text-align: center;
  font-size: 2em;
}

.bloglinks {
  list-style: none;
}

.blogtitle {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
  text-shadow: 1px 1px 2px grey;
  text-align: center;
  font-size: 2.25em;
}

.blogdate {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
  text-shadow: px 2px 2px 79C7C3;
  /*color: 79C7C3;*/
  font-size: 1.75em;
}
/*Dark turqoise -61ADAA*/

#about {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  background: url('../images/me4.jpg') repeat;
  background-size: 100%;
  width: 100%;
  height: 70%;
  margin-bottom: 5%;
}

#portrait {
  background: url('../images/me.jpg') repeat;
  background-size: 100%;
  width: 22em;
  height: 22em;
  /*300px*/
}


.squarepic {
  margin-left: auto;
  margin-right:auto;
  /*width: 300px;
  height: 300px;*/
  /*border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;*/
  /*background: url('../images/me.jpg') repeat;*/
  /*background-size: 100%;*/
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.contactimage {
  width: 80px;
  height: 80px;
  margin: .5% 1.5% .5% 2.5%;
  padding: .5% 1.5% .5% .5%;

}

.contactimage:hover {
  width: 80px;
  height: 80px;
  margin: .5% 1.5% .5% 1.5%;
  padding: .5% 1.5% .5% 1.5%;
  opacity: .6;
  /*width: 85px;
  height: 85px;*/

}


.bio {
  margin: 2%;
  padding: 2%;
}

p {
  color: 5C5C5C;
}

#contact {
  padding: 2%;
  margin: 3%;

  border-radius: 25px;
  background-color:rgba(255,255,255,0.5);
}

#aboutme {
  text-shadow: 1px 1px 2px grey;
  text-align: center;
  font-size: 2.9em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
  margin: 1%;
}

#byme {
  margin-top:10%
}
