body {
  font-family: 'Pacifico', cursive;
  color: black;
  background: radial-gradient(white, 79C7C3);
  padding: 0;
  margin:0;
  size: 100%;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 3em;
  opacity: .8;
  box-shadow: 2px 2px 2px black;
  top: 0;
  left: 0;
  padding-bottom: 20px;
  background: url('../images/ikat.jpg') repeat;
  /*background-size: 30%;*/
  background-size: 30%;
}

/*li a {
	width: 10%;
	text-shadow: 2px 2px 2px black;
}*/

a {
  color: black;
	text-decoration: none;
	font-weight: normal;
	transition-duration: 1s;
	-webkit-duration: 1s;
	-moz-duration: 1s;
  /*width: 10%;*/
	text-shadow: 2px 2px 2px grey;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.75)), to(rgba(0,0,0,1)));
}

/*blue - 80D1D1*/

li a:hover {
  text-shadow: 2px 2px 2px coral;
	transition-duration: 1s;
	-webkit-duration: 1s;
	-moz-duration: 1s;
}
nav {
	/*text-align: center;*/
  padding: 3%;
	padding-top: 0;
	padding-left: 0;
	/*float: right;*/
}

.navbar {
  padding-top: 0px;
	list-style: none;
}

.links {
	display: inline-block;
	text-align: center;
	padding: 0 3% 0 3%;
	margin: 0 3% 0 3%;
	font-size: 1.5em;
}

#content {
  padding-top: 10%;
  text-align: center;
}

/*Titles for pages i.e. 'About Me'*/
.title {
  text-shadow: 1px 1px 2px grey;
  text-align: center;
  font-size: 2.9em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

/*My name on title page*/
.name {
text-shadow: 1px 1px 2px grey;
  font-size: 3.5em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

/*'About me' div*/
.about {
  margin-top: 6%;
  /*border-radius: 25px;*/
	background-color:rgba(255,255,255,0.5);
	/*z-index:20;*/
	/*postition :absolute;*/
	/*box-shadow: 2px 2px 2px black;*/
	/*margin-bottom: 5%;*/
  margin-left: 0;
  width: 100%;
  /*float: left*/
}

/*Blog post div*/
.post {
  border-radius: 25px;
  background-color:rgba(255,255,255,0.5);
  /*z-index:20;*/
  /*postition :absolute;*/
  /*box-shadow: 2px 2px 2px black;*/
  /*margin-bottom: 5%;*/
  padding: 2%;
  margin: 2%;
}



/*.blogdate {
  text-shadow: 2px 2px 2px white;

}*/

/*Circular photo with drop shadow*/
.circular {
  margin-left: auto;
  margin-right:auto;
	/*width: 300px;
	height: 300px;*/
	border-radius: 11em;
	-webkit-border-radius: 11em;
	-moz-border-radius: 11em;
	/*background: url('../images/me.jpg') repeat;*/
  /*background-size: 100%;*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

  #tagline {
    font-size: 2em;
  }

  #myname {
    margin: 0% 2% 2% 2%;
    font-size: 5em;
    padding-top: 0;
  }

.bloglink {
  text-align: center;
  font-size: 2em;

}

/*links to blog posts*/
.bloglinks {
  list-style: none;
  color: 5C5C5C;
}

/*Title of blog*/
.blogtitle {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
  text-shadow: 1px 1px 2px grey;
  text-align: center;
  font-size: 2.25em;
}

/*Blog date of creation*/
.blogdate {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
  text-shadow: px 2px 2px 79C7C3;
  /*color: 79C7C3;*/
  font-size: 1.75em;
}
/*Dark turqoise -61ADAA*/

/*'About Me' photo*/
#about {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  background: url('../images/me4.jpg') ;
  background-size: 100%;
  width: 100%;
  /*height: 20em;*/
  height: 70%;
  margin-bottom: 5%;
}

/*Main page photo*/
#portrait {
  background: url('../images/me.jpg') repeat;
  background-size: 100%;
  width: 22em;
  height: 22em;
  /*300px*/
}

/*Square pics with shadow - like in about me*/
.squarepic {
  margin-left: auto;
  margin-right:auto;
  /*width: 300px;
  height: 300px;*/
  /*border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;*/
  /*background: url('../images/me.jpg') repeat;*/
  /*background-size: 100%;*/
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/*Social media icons*/
.contactimage {
  width: 80px;
  height: 80px;
  margin: .5% 1.5% 3% 2.5%;
  padding: .5% 1.5% 3% .5%;

}

/*Social Media icons - hover*/
.contactimage:hover {
  width: 80px;
  height: 80px;
  margin: .5% 1.5% 2.5% 1.5%;
  padding: .5% 1.5% 2.5% 1.5%;
  opacity: .6;
  /*width: 85px;
  height: 85px;*/

}

/*About me text paragraphs*/
.bio {
  margin: 2%;
  padding: 2%;
}

p {
  color: 5C5C5C;
}

/*'Contact' Me div*/
#contact {
  padding: 2%;
  margin: 3%;
  border-radius: 25px;
  background-color:rgba(255,255,255,0.5);
}

/*'About Me' title text*/
#aboutme {
  text-shadow: 1px 1px 2px grey;
  text-align: center;
  font-size: 2.9em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
  margin: 1%;
}

/*'Website by Lily'*/
#byme {
  margin-top:10%
}
/*
Mobile Nav icon - hover*/
a:hover#menu-icon {
  background-color: grey;
  border-radius: 4px;
  transition-duration: 1s;
  -webkit-duration: 1s;
  -moz-duration: 1s;
}

/*Mobile Nav icon*/
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: 79C7C3 url('../images/menu-icon.png') center;
  margin-top: 35%;
  margin-right: 0em;
  transition-duration: 1s;
  -webkit-duration: 1s;
  -moz-duration: 1s;
  box-shadow: 2px 2px 2px grey;
}

#logo{

  margin: 20px;
  margin-right: 0;
  padding-right: 0;
  float: left;
  width: 100px;
  height: 40px;
  background: url(../images/logo3.png) no-repeat center;
  display: block;

}
/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {

  	body {
		background-size: 100%;
		max-width: 100%;
    background-attachment: fixed;
  }


   header {
    position: fixed;
  }

  nav {
    float: right;
  }

  #menu-icon {
    display:inline-block;
    /*margin: 2%;
    padding:2%;*/
    /*border-radius: .3em;
    box-shadow: 2px 2px 2px grey;*/
  }

  nav a {
    color: white;
  }

  nav ul, nav:active ul {

    display: none;
    position: absolute;
    /*padding: 20px;*/
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px;
    padding-right: 10px;
    text-align: center;
    background: -webkit-linear-gradient(grey, black, grey);
    border: 5px solid #444;
    right: 16px;
    top: 52px;
    width: 30%;
    border-radius: 4px 0 4px 4px;
    color: 79C7C3;

  }

  nav li {
    /*text-align: center;*/
    width: 100%;
    padding: 10px 0;
    margin: 0;
    /*color: 79C7C3;*/
  }

  nav:hover ul {

    display: block;

  }

  #about {
    height: 50%;
  }

  .links {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

}

@media screen and (max-width: 568px) {

  #about {
    height: 30%;
  }
}
